@import '_variables';
@import '_mixins';
body {
   background-color: pink;
   color: $base-font-color;
}

nav {
   ul {
      li {
         &.first {
            a {
               color: aqua
            }
         }
      }
      list-style: none;
      display: inline-block;
      a {
         color: $nav-links-color;
         &:hover {
            color: whitesmoke;
         }
      }
   }
}

.outer {
   width: 600px;
   height: 600px;
   background-color: red;
   position: relative;
   .inner {
      max-width: 100%;
      @include absolute-center;
   }
}

#square {
   width: 200px;
   height: 200px;
<<<<<<< HEAD
   background-color: blue;
=======
   background-color: green;
>>>>>>> parent of 68e2543... shiet
   position: relative;
   #circle {
      border-radius:50%;
      background-color: orange;
      height: 50%;
      width: 50%;
      @include absolute-center;
   }
}